body {
  background-color: black;
  margin: 0;
}

html,
body {
  height: 100%;
}

.container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  height: calc(100% - 60px);
  left: 0;
  padding: 30px;
  top: 0;
  width: calc(100% - 60px);
}

.row {
  align-items: center;
  border-left: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 75%;
}

.row:first-child {
  border-left: 1px solid red !important;
}

.row:nth-child(2) {
  border-left: 1px solid orange !important;
}

.row:nth-child(3) {
  border-left: 1px solid yellow !important;
}

.row:nth-child(4) {
  border-left: 1px solid green !important;
}

.row:nth-child(5) {
  border-left: 1px solid blue !important;
}

.row:nth-child(6) {
  border-left: 1px solid indigo !important;
}

.row:nth-child(7) {
  border-left: 1px solid violet !important;
}

.photo {
  background-image: url("photo.jpg");
  background-position: top;
  background-size: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

a, table {
  color: white;
}

a:hover {
  color: blue;
}

.hobbies-row {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

td, th {
  padding: 10px;
}

td, th {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

td:first-child, th:first-child {
  border-left: 1px solid white;
}

th {
  border-top: 1px solid white;
}
