body {
  margin: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style-type: square;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  left: 0;
  padding: 30px;
  top: 0;
  width: calc(100% - 60px);
}

.row {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 1px solid black;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 75%;
}

.row:first-child, .row:nth-child(7) {
  border-left: 5px solid red !important;
}

.row:nth-child(2), .row:nth-child(8) {
  border-left: 5px solid orange !important;
}

.row:nth-child(3), .row:nth-child(9) {
  border-left: 5px solid yellow !important;
}

.row:nth-child(4), .row:nth-child(10) {
  border-left: 5px solid green !important;
}

.row:nth-child(5), .row:nth-child(11) {
  border-left: 5px solid blue !important;
}

.row:nth-child(6), .row:nth-child(12) {
  border-left: 5px solid violet !important;
}

.photo {
  background-image: url("photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 213px;
  width: 296px;
}

a:hover {
  color: blue;
}

.hobbies-row {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

td, th {
  padding: 10px;
}

td, th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td:last-child, th:last-child {
  border-right: none !important;
}

tr:last-child > td {
  border-bottom: none !important;
}

th {
  border-top: none !important;
}

th {
  border-top: 1px solid black;
}
