.container {
  margin: 30px 0;
}

.row {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 15px;
  padding: 15px;
}

.row:first-child {
  border-left: 5px solid red;
}

.row:nth-child(2) {
  border-left: 5px solid orange;
}

.row:nth-child(3) {
  border-left: 5px solid yellow;
}

.row:nth-child(4) {
  border-left: 5px solid green;
}

.row:nth-child(5) {
  border-left: 5px solid blue;
}

.row:nth-child(6) {
  border-left: 5px solid violet;
}

@media only screen and (min-width: 660px) {
  .bio {
    background-image: url("photo.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
